@model IEnumerable<DataVehiculos.EF.Productos1>

@{
    ViewBag.Title = "Index";
}

<h2>Consulta</h2>

@if (TempData["mjs"] != null)
{
    <div class="alert alert-success">
        @TempData["mjs"]
    </div>
}
@if (TempData["error"] != null)
{
    <div class="alert alert-danger">
        @TempData["error"]
    </div>
}

<div class="ratio ratio-1x1">
    <form method="post">
        <input type="search" name="valor" value="" class="form-control" />
        <input type="submit" name="name" value="Buscar" formaction="/Home/Buscar" />
    </form>
    <br />
    <p>
        @Html.ActionLink("Alta", "Create", new { area = "" }, new { @class = "btn btn-success" })
    </p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Productos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CveGpo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Auto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AñoInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AñoFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proveedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Costo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grupo.Descripcion)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Productos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CveGpo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Auto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AñoInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AñoFin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Proveedor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Costo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grupo.Descripcion)
                </td>
                <td>
                    @Html.ActionLink("Cambio", "Edit", new { id = item.Productos }) |
                    @*@Html.ActionLink("Details", "Details", new { id = item.Productos }) |*@
                    @*@Html.ActionLink("Baja", "Delete", new { Productos = item.Productos })*@

                    <a href="/Home/Delete?Productos=@item.Productos" onclick="return confirm('Confirmo la baja del producto @item.Productos - @item.Descripcion')">Baja</a>

                </td>
            </tr>
        }



    </table>
</div>

